.form {
  width: 430px;
  height: 330px;
  background-color: #ffffff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  position: relative;
}

.form__close-button {
  box-sizing: border-box;
  height: 40px;
  width: 40px;
  border: none;
  position: absolute;
  right: -40px;
  top: -40px;
}

.form__label-close-button {
  height: 40px;
  width: 40px;
}

.form__label-close-button:hover {
  cursor: pointer;
  opacity: 0.6;
}

.form__content {
  border: none;
  padding: 0;
  margin: 22px 36px;
  display: flex;
  flex-direction: column;
}

.form__title {
  width: 330px;
  margin: 0;
  padding: 0;
  color: #000000;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
}

.form__field {
  width: 358px;
  height: 27px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  padding: 0;
}

.form__field:focus {
  outline: none;
  border: 3px solid rgb(82, 170, 241);
  border-radius: 2px;
}

.form__field-name {
  margin: 44px 0 7px;
}

.form__field-name:focus {
  margin: 41.5px -3px 4.5px;
}

.form__field-about-me {
  margin: 0 0 7px;
}

.form__field-about-me:focus {
  margin: -2.5px -3px 4.5px;
}

.form__field-title {
  margin: 44px 0 7px;
}

.form__field-title:focus {
  margin: 41.5px -3px 4.5px;
}

.form__field-link-image {
  margin: 0 0 7px;
}

.form__field-link-image:focus {
  margin: -2.5px -3px 4.5px;
}

#form__edit-image-profile {
  height: 251px;
}

.form__field-link-image-profile {
  margin: 54px 0 7px;
}

#form__delete-confirmation {
  height: 161px;
}

.form__title-delete-confirmation {
  margin-bottom: 38px;
}

.form__field_type_error {
  border-bottom: 1px solid #ff0000;
}

.form__field-error {
  width: 358px;
  height: 30px;
  margin: 0 0 9px;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #ff0000;
  opacity: 0;
}

.form__field-error_active {
  opacity: 1;
}

.about-me-input-error {
  margin: 0 0 24px;
}

.link-image-error {
  margin: 0 0 24px;
}

.form__button {
  width: 358px;
  height: 50px;
  box-sizing: border-box;
  background-color: #000000;
  border: none;
  border-radius: 2px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  padding: 0;
  margin: 0;
}

.form__button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.form__button-disabled {
  cursor: default;
  opacity: 0.2;
  border: 1px solid #000000;
}

.form__button-disabled:hover {
  cursor: default;
  opacity: 0.2;
  border: 1px solid #000000;
}

@media screen and (max-width: 510px) {
  .form {
    width: 282px;
    height: 322px;
  }

  .form__close-button {
    height: 26px;
    width: 26px;
    right: 0px;
  }

  .form__label-close-button {
    height: 26px;
    width: 26px;
  }

  .form__content {
    margin: 19px 22px;
  }

  .form__title {
    width: 238px;
    font-size: 18px;
    line-height: 22px;
  }

  .form__field {
    width: 238px;
    height: 26px;
  }

  .form__field-name {
    margin: 34px 0 7px;
  }

  .form__field-name:focus {
    margin: 31.5px -3px 4.5px;
  }

  .form__field-about-me {
    margin: 0 0 7px;
  }

  .form__field-title {
    margin: 34px 0 7px;
  }

  .form__field-title:focus {
    margin: 31.5px -3px 4.5px;
  }

  .form__field-link-image {
    margin: 0 0 7px;
  }

  .form__field-error {
    width: 238px;
    height: 45px;
  }

  .about-me-input-error {
    margin: 0 0 15px;
  }

  .link-image-error {
    margin: 0 0 15px;
  }

  .form__button {
    width: 238px;
    height: 46px;
    font-size: 14px;
    line-height: 17px;
  }
}
