.header {
  max-width: 880px;
  margin: 0 auto;
  padding: 45px 0 40px;
}

.header__line {
  max-width: 880px;
  height: 74px;
  border: none;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(54, 54, 54, 0.7);
}

.header__logo {
  max-width: 173px;
  max-height: 33px;
}

@media screen and (max-width: 880px) {
  .header {
    max-width: 581px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 581px) {
  .header {
    max-width: 320px;
    padding: 28px 0 42px;
  }

  .header__line {
    height: 56px;
  }

  .header__logo {
    max-width: 126px;
    max-height: 24px;
    padding-left: 27px;
  }
}
