.popup {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  justify-content: center;
  align-items: center;
}

.popup__open {
  display: flex;
}

.popup__content {
  margin: 0;
  position: relative;
  display: flex;
}

.popup__content-image {
  position: relative;
}

.popup__image {
  max-height: 540px;
  max-width: 816px;
}

.popup__title-image {
  margin: 0;
  max-width: 291px;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 896px) {
  .popup__image {
    max-width: 544px;
    max-height: 360px;
  }
}

@media screen and (max-width: 624px) {
  .popup__image {
    max-width: 362px;
  }
}

@media screen and (max-width: 440px) {
  .popup__image {
    max-height: 299px;
    max-width: 240px;
  }

  .popup__title-image {
    max-width: 240px;
  }
}
